# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/.metadata/
RemoteSystemsTempFiles/.project
*.prefs
/.recommenders/

1. Linear Search/.gitignore
1. Linear Search/.classpath
1. Linear Search/.project

2. Binary Search/.gitignore
2. Binary Search/.classpath
2. Binary Search/.project
